body{
  background-color: rgb(135, 105, 204);
  /* max-width: 1000px; */
  text-align: center;
  /* background-color: red */
}

button{
font-size: 30px;
background-color: rgb(67, 97, 238);
}


header{
  color: lightblue;
  margin: auto;
  border: 3px solid black;
  background-color: rgb(114, 9, 183);
}

p{
  /* display: flex; 
  flex*/
}

.display-Beer{
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.beer-card {
  display: flex;
  max-width: 30%;
  justify-content: center;
  flex-direction: column;
}

.options{
  max-height: 300px;
}

.drop-downs{
 padding-bottom: 20px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

#show-beer.buttons{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}