body{
  background-color: rgb(135, 105, 204);
  /* max-width: 1000px; */
  text-align: center;
  /* background-color: red */
}

button{
font-size: 30px;
background-color: rgb(67, 97, 238);
}

div{
  padding-bottom: 20px;
}

header{
  color: lightblue;
  margin: auto;
  border: 3px solid black;
  background-color: rgb(114, 9, 183);
}

.options{
  max-height: 300px;
}

.drop-downs{
  
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.buttons{
  
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;

}

#append-beer{
  margin: 30px;
  height: 500px;
}