body{
  background-image: url("https://img.freepik.com/free-vector/space-with-stars-universe-space-infinity-background_78474-99.jpg?size=626&ext=jpg");
  text-align: center;
}

beer-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  padding: 0 10px;
  border: 1px solid black;
}

button{
  font-size: 30px;
  background-color: rgb(67, 97, 238);
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

guestbook{
  background-color: lightgray;
  border: 2px solid black;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
  color: lightblue;
  margin: auto;
  border: 3px solid black;
  background-color: rgba(114, 9, 183,.8);
}

select{
  margin: 10px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 20px;
}

.append-beer{
  color: rgb(176, 174, 177);
}

.beer-card{
  background-color: rgb(176, 174, 177);
  color: black;
  flex: 0 70%;
  align-content: center;
  border: 1px solid black;
  margin: 30px;
  min-width: 400px;
  max-width: 400px;
  border-radius: 30px;
  font-size: 16px;
}

.beer-name{
  font-size: 32px;
}

.beer-spin{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons{
  margin-bottom: 20px;
}

.counter{
  font-family: 'Odibee Sans', cursive;
  color: grey;
  font-size: 30px;
  margin-bottom: 30px;
}

.description{
  text-align: center;
  padding: 5px;
}

.dont-like{
  color: rgb(176, 174, 177);
  font-size: 30px;
  margin-bottom: 0;
}

.drop-downs{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 30px;

}

.label{
  border: 2px solid black;
  border-radius: 50px;
  margin-top: 10px;
}

viewer-count{
  background-color: rgb(114, 9, 183);
  border: 3px solid red;
  color: grey;
  padding: 3px;
}

#send{
  width: 30px;
}

#show-beer{
  margin-bottom: 20px;

}

#title{
  font-size: 78px;
  margin-top: 5px;
  margin-bottom: 0px;
}


@media (max-width: 1000px){

beer-list{
  padding: 10px;
}  

body{
  background-color: black;
  color: grey;
}

div{
  font-size: 100%;
}

beer-list{
  display: flex;
  align-items: space-around;
}

header{
  background-color: rgb(35, 29, 51)
}

.beer-card{
  border: 2px solid grey;
  min-width: 100%;
}

.beer-name{
  font-size: 20px;
}

.dont-like{
  font-size: 16px;
}

.drop-downs{
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
}

#beer-slide{
  width: 100%;
}

#beer-1{
  height: 50px;
}

#beer-2{
  height: 50px;
}

#title{
  font-size: 30px;
}

}